<!-- Login credential info that displays when hovering over the "Log in" button -->

<div class="tooltiptext">
    <p>For the purposes of this project, the following are valid login credentials:</p>
    <ul>
        <li>Administrator:</li>
        <ul>
            <li>Username: admin</li>
            <li>Password: adminpw</li>
        </ul><br>
        <li>Faculty:</li>
        <ul>
            <li>Valid countries are England, Ghana, Japan and Peru</li>
            <li>Replace '[country]' with the country name in lowercase letters</li>
            <ul>
                <li>Username: [country]_faculty</li>
                <li>Password: [country]</li>
            </ul>
        </ul>
    </ul>
    <p>Use both sets of credentials to access the two sections of the website.<br>
    You can also enter invalid credentials to receive a login error.</p>
</div>